body{
  padding: 0;
  margin: 0;
  height: 2200px;
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(233, 232, 232);
}


.section-topic{
  color: grey;
}

.page-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nav1-container{
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 85.16px;
  background-color: rgb(197, 197, 197);
  justify-content: center;
  gap: 10px;
  align-items: center;
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
}

.logo {
  margin-right: auto;
  margin-left: 10px;
}

.search-signin{
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.search {
  width: 645px;
  height: 53.23px;
  margin-left: auto;
  border: 0;
  border-radius: 10px;
}

.sign-in {
  width: 90px;
  height: 53.23px;
  border: 0;
  border-radius: 40px;
}

.nav2-container{
  display: flex;
  width: 1100px;
  height: 40px;
  align-items: center;
}

.categories{
  margin-right: auto;
  width: 113px;
  height: 26.1px;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: grey;
  border: solid 1px grey;
  border-radius: 5px;
  background-color: white;
}

nav{
  display: flex;
  align-items: center;
}

ul{
  list-style: none;
  padding-inline: 0;
}

.head-ul{
  font-size: 18px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0px;
  column-gap: 40px;
  color: grey;
  font-weight: bold;
}

.banner-container{
  width: 1903px;
  height: 400px;
}

.banner-pic{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.best-seller-section{
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 406px;
}

.topic-section{
  display: flex;
}

.section-topic{
  margin-right: auto;
}

.body-section{
  display: flex;
  width: 1100px;
  height: 345px;
  gap: 30px;
}

.best-seller-container{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 319px;
  align-items: center;
  border-radius: 15px;
}

.sub-best-seller-container{
  background-color: grey;
  margin-top: 17px;
  margin-bottom: 10px;
  width: 210px;
  height: 221px;
  border-radius: 15px;
}

.product-pic{
  width: 210px;
  height: 221px;
}

.description-detail{
  width: 208px;
  height: 70px;
}

.desc-detail{
  font-size: 11px;
  padding: 0;
  margin: 0;
}

.rating-detail{
  margin: 0;
}

.price-tag{
  font-weight: bold;
  margin: 0;
}

.brand-body-section{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  height: 405px;
  gap: 20px 26.4px;

}

.shop-by-brand-section{
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 491px;
}

.shop-by-brand-container{
  width: 198.86px;
  height: 193px;
  align-items: center;
}

.sub-shop-by-brand-container{
  width: 198.86px;
  height: 165px;
  border-radius: 10px;
}

.brand-pic{
  width: 198.86px;
  height: 165px;
}

.brand-name{
  margin: 0;
  padding: 0;
  text-align: center;
  color: grey;
  font-weight: bold;
}

.shop-by-category-section{
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 254px;
}

.category-body-section{
  display: flex;
  width: 1100px;
  height: 165px;
  gap: 21.9px
}

.shop-by-category-container{
  width: 165px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-shop-by-category-container{
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.category-pic{
  width: 100px;
  height: 135.61px;
  margin-top: 15px;
  margin-left: 40px;
}


footer {
  margin-top: 200px;
  background: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 30%;
}

.footer-bottom {
  background: #444;
  text-align: center;
  padding: 10px;
}
